$schema: "https://json-schema.org/draft/2020-12/schema"
description: "Schema for user-provided configuration files."
type: object
additionalProperties: false
properties:
  backend:
    type: string
    enum: ["atlite"]
    description: "The backend to use for the module."
  layout:
    type: string
    enum: ["raster", "point"]
    description: "The layout type, either raster or point."
  aggregate:
    type: boolean
    description: "Whether to aggregate the data to spatial_units or not."
