$schema: "https://json-schema.org/draft/2020-12/schema"
description: "Schema for user-provided configuration files."
type: object
additionalProperties: false
properties:
  dummy_text:
    description: A template example. Should be deleted in real applications.
    type: string
  build_cutout:
    description: "Build cutout for the model."
    type: object
    properties:
      cutout_params:
        description: "Parameters for the cutout."
        type: object
        properties:
          module:
            description: "Module for the cutout."
            type: string
          x:
            description: "x min and max."
            type: array
          y:
            description: "y min and max."
            type: array
  snapshots:
    description: "Snapshots for the model."
    type: object
    properties:
      start:
        description: "Start and end of the snapshots."
        type: string
      end:
        description: "Start and end of the snapshots."
        type: string
      inclusive:
        description: "Start and end of the snapshots."
        type: string
        enum:
          - left
          - right